Repository DataDog/apigentools, pull requests merged in 2020-12, with the labels that each got.

#217 Add support for docker run options in test command
  apigentools/commands/command.py
  apigentools/commands/test.py
  tests/test_command.py
Labels: changelog/Added

#219 release: v1.4.0
  docs/changelog.md
Labels: changelog/no-changelog

#220 Bump openapi-generator
  Dockerfile
Labels: changelog/Added

#221 Fix parsing of APIGENTOOLS_API_VERSION env variable
  apigentools/cli.py
Labels: changelog/Fixed
