Repository DataDog/apigentools, pull requests merged in 2020-05, with the labels that each got.

#181 Use new method for getting dir
  apigentools/commands/generate.py
Labels: changelog/Fixed

#186 Fix init command by not checking for existence of config file
  apigentools/cli.py
  tests/integration/test_init.py
Labels: changelog/Fixed

#187 Add changelog for release 1.1.0
  docs/changelog.md
Labels: changelog/no-changelog

#188 Fix inheritance of container_opts for inherited commands
  apigentools/config.py
  tests/unit/fixtures/good_config_yaml.yaml
  tests/unit/test_config.py
Labels: changelog/Fixed

#189 Update openapi-generator to 5.0.0 snapshot
  Dockerfile
Labels: changelog/Added

#190 Allow overriding validation_commands on multiple levels
  apigentools/commands/validate.py
  apigentools/config.py
  docs/spec_repo.md
  tests/unit/fixtures/good_config_yaml.yaml
  tests/unit/test_config.py
Labels: changelog/Added

#191 Introduce config file versioning
  apigentools/cli.py
  apigentools/commands/init.py
  apigentools/config.py
  apigentools/constants.py
  apigentools/utils.py
  docs/spec_repo.md
  tests/integration/test_versions.py
Labels: changelog/Added

#193 Update to the latest openapi-generator snapshot
  Dockerfile
Labels: changelog/Added

#192 Add changelog for 1.2.0 release
  docs/changelog.md
Labels: changelog/no-changelog
