Repository DataDog/apigentools, pull requests merged in 2020-03, with the labels that each got.

#133 Use latest openapi-generator
  Dockerfile
Labels: changelog/no-changelog

#135 Update name of template output dir flag
  apigentools/cli.py
  apigentools/commands/templates.py
  docs/cli.md
Labels: changelog/Changed

#136 Switch from argparse to click and code format
  apigentools/cli.py
  apigentools/commands/__init__.py
  apigentools/commands/command.py
  apigentools/commands/generate.py
  apigentools/commands/init.py
  apigentools/commands/push.py
  apigentools/commands/split.py
  apigentools/commands/templates.py
  apigentools/commands/test.py
  apigentools/commands/validate.py
  setup.cfg
  tests/test_init.py
  tests/unit/test_command.py
  tests/unit/test_push.py
Labels: changelog/Changed

#132 Add new config command
  apigentools/cli.py
  apigentools/commands/__init__.py
  apigentools/commands/list_config.py
  docs/cli.md
  tests/test_config_command.py
  tests/test_split.py
  tests/test_version.py
Labels: changelog/Added
