Repository DataDog/apigentools, pull requests merged in 2020-11, with the labels that each got.

#209 Github action to publish this project
  .github/workflows/release.yml
  RELEASING.md
Labels: changelog/no-changelog, documentation

#210 Bump openapi-generator
  Dockerfile
Labels: changelog/no-changelog

#212 Bump openapi-generator to latest master
  Dockerfile
Labels: changelog/Added

#215 Update openapi-generator image
  Dockerfile
Labels: changelog/no-changelog
